*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(../Images/galaxy.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    position: relative;
    font-family: sans-serif;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    margin-top: 0%;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #0099cc;
    margin-top: -3%;
    transition: -4 ease;
}
.navbar ul li a:hover{
    color: rgba(230, 104, 59);
}
.font1{
    font-size: 150%;
}
.info{
    margin-left: 7%;
    margin-top: 6%;
}
.info h2{
   
    font-size: 30px;
    color:white;
    position: absolute;
    bottom:45%;
}
.info span{
    color: #ff6600;
}
.navbar h2{
    color: white;
}
.navbar h2 span{
    color: #ff6600;
}
.img{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 300px;
    bottom: 0;
}
.img1{
  width: 30%;
  height: 60%;
  position: absolute;
  right: 50px;
  bottom: 28%;
}
.img img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;
   
}
/*About us */

.keith{
    height: 300px;
    width: 300px;
  }
  /*keiths resume*/
  .keithresume {
    position: absolute;
    left: 15%;
    top: 20%;
    background-image: linear-gradient(#0D6471,#92E1E2);
  width: 70%;
  height: 1300px;
  }
  .information {
    padding: 15px 20px 30px;
  }
.name{
    position: absolute;
    top: 1%;
    right: 200px;
}
.objective{
    position: absolute;
    top: 5%;
    right: 270px;
}
.obj{
    position: absolute;
    top: 10%;
    right: 20px;
    font-size: 20px;
}
.emailad{
  position: absolute;
  top: 18%;
  right: 350px;
}
.emaillink{
  position: absolute;
  top: 18%;
  right: 180px;
}
.facebook{
  position: absolute;
  top: 20%;
  right: 315px;
}
.fb{
  position: absolute;
  top: 20%;
  right: 210px;
}
.contactno{
  position: absolute;
  top: 22%;
  right: 360px;
}
.cntctn{
  position: absolute;
  top: 22.2%;
  right: 260px;
}
.hr{
    height: 1px;
    background-color: black;
    border-color: black;
}
.qual{
  position: absolute;
  right: 550px;
}
.quali {
  text-align: center;

}

.ul1 {
  
  font-size: 20px;
  display: inline-block;
  text-align: left;
} 
.workex{
  position: absolute;
  right: 520px;
}
.work{
  text-align: center;
  
}

.workul {
  
  font-size: 20px;
  display: inline-block;
  text-align: left;
} 
.achieve{
  position: absolute;
  right: 470px;
}
.ach{
  text-align: center;

}

.achul {
  
  font-size: 20px;
  display: inline-block;
  text-align: left;
} 
.educ{
  position: absolute;
  right: 470px;
}
.eduback{
  text-align: center;

}
.sch{
  position: absolute;
  right: 50%;
  bottom: 30%;
}

.year{
  position: absolute;
  right: 120px;
  top: 68%;
 }
 .Years{
  position: absolute;
  right: 100px;
  top: 70%;
 }
 .charef{
  position: absolute;
  right: 500px;
}
.charac{
  text-align: center;

}

.teacher {
  
  font-size: 20px;
  display: inline-block;
  text-align: left;
} 
.ref1{
  position: absolute;
  right: 510px;
  

}
.characref{
  position: absolute;
  right: 470px;
}
.ref2{
  position: absolute;
  right: 510px;
  bottom: 6%;
  

}
.characref1{
  position: absolute;
  right: 470px;
}
.johnm{
  height: 300px;
  width: 300px;
}

.johnmresume {
  position: absolute;
  right: -0.2%;
  top: 105%;
  background-image: linear-gradient(#0D6471,#92E1E2);
width: 100%;
height: 1350px;
}
.johninformation {
  padding: 15px 20px 30px;
}
.name{
  position: absolute;
  top: 1%;
  right: 200px;
}
.johnobjective{
  position: absolute;
  top: 5%;
  right: 270px;
}
.johnobj{
  position: absolute;
  top: 10%;
  right: 20px;
  font-size: 20px;
}
.johnemailad{
  position: absolute;
  top: 18%;
  right: 350px;
}
.johnemaillink{
  position: absolute;
  top: 18%;
  right: 165px;
}
.johnfacebook{
  position: absolute;
  top: 20%;
  right: 315px;
}
.johnfb{
  position: absolute;
  top: 20%;
  right: 170px;
}
.johncontactno{
  position: absolute;
  top: 22%;
  right: 360px;
}
.johncntctn{
  position: absolute;
  top: 22.2%;
  right: 260px;
}
.hr{
    height: 1px;
    background-color: black;
    border-color: black;
}
.johnqual{
  position: absolute;
  right: 550px;
}
.johnquali {
  text-align: center;

}

.johnul1 {
  
  font-size: 20px;
  display: inline-block;
  text-align: left;
} 
.johnworkex{
  position: absolute;
  right: 520px;
}
.johnwork{
  text-align: center;
  
}

.johnworkul {
  
  font-size: 20px;
  display: inline-block;
  text-align: left;
} 
.johnachieve{
  position: absolute;
  right: 470px;
}
.johnach{
  text-align: center;

}

.johnachul {
  
  font-size: 20px;
  display: inline-block;
  text-align: left;
} 
.johneduc{
  position: absolute;
  right: 470px;
}
.johneduback{
  text-align: center;

}
.johnsch{
  position: absolute;
  right: 46%;
  bottom: 30%;
}

.johnyear{
  position: absolute;
  right: 120px;
  top: 68%;
 }
 .johnYears{
  position: absolute;
  right: 100px;
  top: 70%;
 }
 .johncharef{
  position: absolute;
  right: 500px;
}
.johncharac{
  text-align: center;

}

.johnteacher {
  
  font-size: 20px;
  display: inline-block;
  text-align: left;
} 
.johnref1{
  position: absolute;
  right: 510px;
  

}
.johncharacref{
  position: absolute;
  right: 280px;
}
.johnref2{
  position: absolute;
  right: 510px;
  bottom: 9%;
  

}
.johncharacref1{
  position: absolute;
  right: 280px;
}
.johnm{
  height: 300px;
  width: 300px;
}
/*ACTIVITIES*/
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.card1{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
   background-image: linear-gradient(#0D6471,#92E1E2);
    border-radius: 20px;
    margin: 15px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 15%;
    opacity: 10;
}
.act{
   position: absolute;
   bottom: 5%;
   top: 40%;
   left: 38%;
   
}
.font{
    font-size: 350%;
    position: absolute;
    text-decoration: none;
    bottom: 20%;
    left: 20%;
    top: 30%;
}
.font2{
  font-size: 350%;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    bottom: 20%;
    left: 20%;
    top: 50%;
}
.main1{
  width: 100%;
  background: url(../Images/galaxy.png);
  background-position: center;
  background-size: cover;
  height: 130%;
  position: relative;
  font-family: sans-serif;
}
.navbar1{
  width: 86%;
  display: flex;
  margin: auto;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}
.navbar1 ul{
  margin-top: 0%;

}
.navbar1 ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 16px;
}
.navbar1 ul li a{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #0099cc;
  margin-top: -3%;
  transition: -4 ease;
}
.navbar1 ul li a:hover{
  color: rgba(230, 104, 59);
}
.font1{
  font-size: 150%;
}
/* CONTACT US */

.title h2{
    
    color: white;
    font-size: 30px;
    width: 250px;
    margin: 30px auto;
    text-align: center;
    position: absolute;
    top: 5%;
    right:  40%;
    
}

.keith{
    height: 300px;
    width: 300px;
  }
  .keithprofile {
    position: absolute;
    left: 20%;
    top: 20%;
    background-image: linear-gradient(#0D6471,#92E1E2);
    box-shadow: 10px 10px 10px 1px #4dffff;
    transition: 1s;
    width: 23%;
  }
  .kit{
    position: absolute;
    right: 30%;
    top: 75%;
  }
  .kitp{
    position: absolute;
    right: 30%;
    top: 82%;
  }
  
  .keithprofile:hover {
    background-color: #a6a6a6;;
    box-shadow: none;
  }
  
  .john{
    height: 300px;
    width: 300px;
  }
  
  .johnprofile {
    position: absolute;
    right: 20%;
    top: 20%;
    background-image: linear-gradient(#0D6471,#92E1E2);
    box-shadow: 10px 10px 10px 1px#4dffff;
    transition: 1s;
    width: 24%;
  }
  .jm{
    position: absolute;
    right: 25%;
    top: 75%;
  }
  .jmp{
    position: absolute;
    right: 30%;
    top: 82%;
  }
  .johnprofile:hover {
    background-color: #a6a6a6;;
    box-shadow: none;
  }
  
  .information {
    padding: 15px 20px 30px;
  }
  .icons{
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.arnold{
  
  width: 50%;
  border-radius: 80%;
  position: absolute;
  top: 100px;
  bottom: 250px;
  right: 225px;
  border: 5px solid black;
}
/*arnold*/
.arnolds {
  position: absolute;
  left: 15%;
  top: 20%;
  background-image: linear-gradient(#0D6471,#92E1E2);
width: 70%;
height: 700px;
}
.arnoldh{
  position: absolute;
  right: 200px;
  bottom: 600px;
  font-size: 50px;
}
.arnoldp{
  position: absolute;
  bottom: 5px;
  font-size: 20px;
  font-weight: 300;
}
.Our{
  color: white;
}
.port{
  color: #ff6600;
}
.back{
    font-size: 200%;
    text-decoration: none;
    font-weight: bold;
    color: blue;

}
.back:hover{
  color: rgba(230, 104, 59);
}
/* about us*/
.main2{
  width: 100%;
  background: url(../Images/galaxy.png);
  background-position: center;
  background-size: cover;
  height:450%;
  position: relative;
  font-family: sans-serif;
}
.navbar2{
  width: 86%;
  display: flex;
  margin: auto;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}
.navbar2 ul{
  margin-top: 0%;

}
.navbar2 ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 16px;
}
.navbar2 ul li a{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #0099cc;
  margin-top: -3%;
  transition: -4 ease;
}
.navbar2 ul li a:hover{
  color: rgba(230, 104, 59);
}
.font1{
  font-size: 150%;
}
.our1{
  color: white;
}
.port1{
  color: #ff6600;
}
/*arrow */

.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #0099ff;
  bottom: 40px;
  right: 50px;
  
 text-decoration: none;
 text-align: center;
 line-height: 50px;
 color: white;
 font-size: 30px;
}
.footer{
  background-color: #4dffff;
  position: absolute;
  height: 10%;
  width: 100%;
  bottom: -10%;
}
.foot{
  position: relative;
  color: #0D6471;
  padding: 14px 16px;
  bottom: 15%;
  text-align: center;
  color: gray;
}
.foot1{
  position: relative;
  color: #0D6471;
  padding: 14px 16px;
  bottom: 1%;
  text-align: center;
  color: gray;
}
.footer1{
  background-color: #4dffff;
  position: absolute;
  height: 10%;
  width: 144%;
  bottom: -119%;
  right: -21.4%;
}
.footer2{
  background-color: #4dffff;
  position: absolute;
  height: 10%;
  width: 100%;
  bottom: -47%;
}
.footer3{
background-color: #4dffff;
  position: absolute;
  height: 10%;
  width: 143%;
  bottom: -13%;
  
  right: -21.3%;
}

